# Переменные окружения
.env

# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые файлы
*.test

# Output
*.out
/tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
vendor/
node_modules

# Дубликат фронтенда (рабочая папка - chronicle-frontend/src/)
/src/